body {
  font-family: 'Roboto', sans-serif;
  margin: auto;
}

h1 {
  font-size: 35px
}

.section-header-bold {
  font-weight: bold;
  font-size: 28px;
  color: #F36819;
  text-transform: uppercase;
}

.section-header {
  font-weight: normal;
  font-size: 28px;
  color: #283647;
  text-transform: uppercase;
}

h2 {
  font-weight: normal;
  font-size: 28px;
  color: #F36819;
}

h3 {
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 2px;
  color: #F7931D;
}

p {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.percentages {
  font-weight: bold;
  font-size: 55px;
  letter-spacing: 2px;
}

button {
  width: 215px;
  height: 40px;
  border: 0;
  border-radius: 5px;
  background: linear-gradient(to right, #F36819, #F7931D);
  color: white;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 2px;
  box-shadow: -1px 1px 5px gray;
}

button:hover {
  cursor: pointer;
}

/* Add hero img overlay of 30% opacity */


/* logo banner */

.banner {
  display: flex;
  justify-content: center;
  height: 60px;
  background-color: #1676DD;
}

.banner img {
  width: 160px;
  height: 45px;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* Image slider */

.slider {
  position: relative;
  width: 100%;
  margin: auto;
  z-index: 0;
}

.slide img::before {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, #F36819, #000000);
    opacity: .6;
}


.hero-img-text-container {
  position: absolute;
  top: 53%;
  left: 17.5%;
  z-index: 1;
}

.hero-img-text {
  font-weight: bold;
  font-size: 48px;
  color: white;
  margin-bottom: 15px;
}

.hero-btn-container {
  position: absolute;
  bottom: 20%;
  left: 17.5%
}

.contact-button {
  width: 50px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  box-shadow: -1px 1px 5px gray;
  position: fixed;
  right: 0;
  top: 45%;
  z-index: 2;
}

.contact-button img {
  width: 100%;
}

.slider img {
  width: 100%
}

/* Hide img by default */
.slide {
  display: none;
}

#prev, #next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#prev:hover, #next:hover {
  background-color: rgba(0,0,0,0.8)
}

.dots-container {
  position: relative;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background: white;
  border: 1.5px solid #717171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

section {
  margin: 25px 0 0 0;
}

section div {
  display: flex;
  justify-content: center;
}
.section-header-container {
  display: flex;
  justify-content: center;
  margin: 75px 0 30px 0;
}

/* Pages section */
.pages-container {
  /* margin-top: 50px; */
  display: grid;
  grid-template-columns: repeat(11, 2fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto)
}

.page {
  margin: 15px 0 15px 0;
  width: 300px;
}

.page p {
  margin-left: 30px;
}

.pg-one {
  grid-column: 4;
  grid-row: 1;
}

.pg-two {
  grid-column: 8;
  grid-row: 1;
}

.pg-three {
  grid-column: 4;
  grid-row: 2;
}

.pg-four {
  grid-column: 8;
  grid-row: 2;
}

/* Background block */

.background-block {
  position: relative;
  text-align: center;
  color: white;
  /* min-width: 800px; */
}

.background-block img {
  width: 100%;
}

.background-block h2 {
  color: white;
  font-weight: normal;
  width: 95%;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
}

/* Description */

.desc-container {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto)
}

.desc {
  grid-column: 4;
  grid-row: 1;
}

.desc-button {
  grid-column: 7;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.desc {
  width: 425px;
}

/* Stats */

.stats {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto)
}

.stat-1 {
  grid-column: 3;
  grid-row: 1;
}

.stat-2 {
  grid-column: 6;
  grid-row: 1;
}

.stat-3 {
  grid-column: 9;
  grid-row: 1;
}

.stats-section button {
  margin: 50px 100px 50px 75px;
}

.stat h1 {
  text-align: center;
  margin-bottom: 0;
}

.stat h4 {
  color: #F7931D;
  width: 170px;
  margin: 10px 0 0 0;
  text-align: center;
}

/* Examples */

.checkerboard-grid img {
  max-width: 705px;
  max-height: 350px;
}

.checkerboard-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  grid-auto-rows: minmax(100px, auto)
}

.text-1 {
  grid-column: 1;
  grid-row: 1;
  margin-left: 15%;
}

.img-1 {
  grid-column: 2;
  grid-row: 1;
}

.img-2 {
  grid-column: 1;
  grid-row: 2;
}

.text-2 {
  grid-column: 2;
  grid-row: 2;
}

.text-1, .text-2 {
  max-width: 450px;
}

.checkerboard-grid img {
  max-width: 705px;
  max-height: 350px;
  width: 100%
}


/* Modal */

.modal {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 3;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.form-container {
  margin: 15% auto;
  width: 400px;
}

form {
  width: 400px;
  /* margin: 0 auto; */
}

form h3 {
  text-align: center;
}

form div {
  display: flex;
  flex-direction: column;
}

form input, textarea {
  width: 100%;
}

form .form-row {
  flex-direction: row;
}

label {
  color: white;
  font-size: 14px;
}

input {
  border-radius: 5px;
  height: 20px;
  font-size: 14px;
  width: 20vw;
  padding: 10px;
}

textarea {
  border-radius: 5px;
  padding: 10px;
}

.form-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.email-input {
  margin-right: 5px;
}
.phone-input {
  margin-right: 10px;
}

.input-row {
  margin: 10px;
}

/* additional styling for bootstrap */

.col-md-6, .col-md-4 {
  display: flex;
  justify-content: center;
}

body .container {
  align-items: center;
}


@media only screen and (max-width: 900px) {
  .hero-img-text-container {
    position: absolute;
    top: 54%;
    left: 15%;
    z-index: 1;
  }
  .hero-img-text {
    font-size: 30px;
  }
  .background-block h2 {
    font-size: 18px;
  }
  /* .hero-btn-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 8%;
    left: 24%
  } */
  .checkerboard-grid img {
    max-width: 100%;
    max-height: auto;
  }
  .checkerboard-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero-btn-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 8%;
    left: 30%
  }
}


@media only screen and (max-width: 480px) {
  .hero-img-text {
    font-size: 16px;
  }
  .background-block {
    width: 100%;
  }
  .background-block h2 {
    font-size: 14px;
  }
  .section-header-container {
    margin: 50px 0 0 0;
  }
  .example-text {
    margin: 0 25px;
  }
  .example-row {
    margin: 10px 0 10px 0;
  }
  .form-row input {
    width: 175px;
  }
  .checkerboard-grid img {
    width: 100%;
    height: auto;
  }
  .change-display {
    display: block;
  }
  .text-1, .text-2 {
    margin: 0 10px 0 10px;
  }
  .stats div, .desc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 1440px) {
  .checkerboard-grid img {
    display: block;
  }
  .img-2 img {
    float: right;
  }
  .text-1 {
    margin-left: 30%;
  }
}
