body {
  font-family: 'Roboto', sans-serif;
  margin: auto;
}

h1 {
  font-size: 35px
}

.hero-img-text {
  font-weight: bold;
  font-size: 48px;
  color: white;
}

.section-header-bold {
  font-weight: bold;
  font-size: 28px;
  color: #F36819;
  text-transform: uppercase;
}

.section-header {
  font-weight: normal;
  font-size: 28px;
  color: #283647;
  text-transform: uppercase;
}

h2 {
  font-weight: normal;
  font-size: 28px;
  color: #F36819;
}

h3 {
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 2px;
  color: #F7931D;
}

p {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.percentages {
  font-weight: bold;
  font-size: 55px;
  letter-spacing: 2px;
}

button {
  width: 215px;
  height: 40px;
  border: 0;
  border-radius: 5px;
  background: linear-gradient(to right, #F36819, #F7931D);
  color: white;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 2px;
  box-shadow: -1px 1px 5px gray;
}

.envelope {
  border-radius: 5px 0 0 5px;
  box-shadow: -1px 1px 5px gray;
}

/* Add hero img overlay of 30% opacity */
