body {
  font-family: 'Roboto', sans-serif;
  margin: auto;
}

h1 {
  font-size: 35px
}

.hero-img-text {
  font-weight: bold;
  font-size: 48px;
  color: white;
}

.section-header-bold {
  font-weight: bold;
  font-size: 28px;
  color: #F36819;
  text-transform: uppercase;
}

.section-header {
  font-weight: normal;
  font-size: 28px;
  color: #283647;
  text-transform: uppercase;
}

h2 {
  font-weight: normal;
  font-size: 28px;
  color: #F36819;
}

h3 {
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 2px;
  color: #F7931D;
}

p {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.percentages {
  font-weight: bold;
  font-size: 55px;
  letter-spacing: 2px;
}

button {
  width: 215px;
  height: 40px;
  border: 0;
  border-radius: 5px;
  background: linear-gradient(to right, #F36819, #F7931D);
  color: white;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 2px;
  box-shadow: -1px 1px 5px gray;
}

.envelope {
  border-radius: 5px 0 0 5px;
  box-shadow: -1px 1px 5px gray;
}

/* Add hero img overlay of 30% opacity */

/* logo banner */

.banner {
  display: flex;
  justify-content: center;
  height: 60px;
  background-color: #1676DD;
}

.banner img {
  width: 160px;
  height: 45px;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* Image slider */

.slider {
  position: relative;
  width: 100%;
  margin: auto;
  z-index: 0;
}

.hero-img-text-container {
  position: absolute;
  top: 50%;
  left: 20%;
  z-index: 1;
}

.slider img {
  width: 100%
}

/* Hide img by default */
.slide {
  display: none;
}

#prev, #next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#prev:hover, #next:hover {
  background-color: rgba(0,0,0,0.8)
}

.dots-container {
  position: relative;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background: white;
  border: 1.5px solid #717171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
